In [4]:
# Import statements 
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [6]:
# Load data
train_feats = pd.read_csv('cleaned_feats/train_cleaned_features.csv')
dev_feats = pd.read_csv('cleaned_feats/dev_cleaned_features.csv')
test_feats = pd.read_csv('cleaned_feats/test_cleaned_features.csv')

/opt/anaconda3/envs/prop-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
# View the dataframes
test_feats.head(10)

,text,place,user_location,followers_count,retweet_count,favorite_count,hashtags,weekday,month,day,time,year,sentiment
0,"@Jeff_Reinebold No corona out there, that’s fo...",NaN,NaN,117,0,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,positive
1,RT @EagleEye____: While I commend @NigeriaGov ...,NaN,NaN,1472,3,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,negative
2,RT @ioproducer: There was a nasty flu that wen...,NaN,"Rhyl, Wales",26,46036,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,negative
3,RT @inMBwetrust: #AmericanVirus is purposely b...,NaN,"Miami, FL",5859,1,0,"{'text': 'AmericanVirus', 'indices': [17, 31]}",Thu,Mar,19.0,20:47:59,2020.0,neutral
4,RT @chomahardi: Here is my brand new Youtube c...,NaN,Nowhere,220,9,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,positive
5,RT @Taiwo00000: After you survive Ebola and u ...,NaN,NaN,146,4,0,"{'text': 'COVID19NIGERIA', 'indices': [76, 91]}",Thu,Mar,19.0,20:47:59,2020.0,neutral
6,RT @BoycottUtah: Early in 2017 I tweeted that ...,NaN,NaN,4604,116,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,positive
7,RT @ArielDumas: Wow what a racist douchebag ht...,NaN,NaN,133,227,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,positive
8,What a terrible person. Not that that is news....,United States,"Mission Viejo, CA",78,0,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,negative
9,RT @jabinbotsford: Close up of President @real...,NaN,NaN,379,30487,0,NaN,Thu,Mar,19.0,20:47:59,2020.0,neutral

In [ ]:
# Feature manipulation to make them ready for the model

In [12]:
# Instantiate model - Multinomial logistic regression
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')